@charset "UTF-8";
/* CSS Document */

.flex { display: flex; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }
.justify-between { justify-content: space-between; }
.mr-3 { margin-right: .75rem; }
.mb-4 { margin-bottom: 1rem; }
.w-full { width: 100%; }
.block { display: block; }
.w-30 {
    width: 120px;
}
.pr-6 {
    padding-right: 1.5rem;
}

.left-3 {
    left: .75rem;
}
.top-2 {
    top: .5rem;
}
.cursor-pointer { cursor: pointer; }

.stroke-black { stroke: #000; }
.stroke-dark-grey { stroke: #737978; }

#frequencySelector {
    width: calc(100% + 4px)!important;
    left: -2px!important;
    border-color: rgba(33,39,33,1);
    border-width: 2px;
    border-top-width: 0;
}

#frequencySelector .px-4 {
    padding-left: 1rem; padding-right: 1rem; margin-top: 0px;
}

#quantitySelector.p-3 { padding: 1.75rem .75rem .75rem .75rem!important; }

.transform {
    transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.translate-y-full {
    transform: translateY(100%);
}
.rounded-sm {
    border-radius: 4px;
}

.rounded-t-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.border {
    border-width: 1px;
}
.border-t {
    border-top-width: 1px;
}
.border-t-0 {
    border-top-width: 0;
}

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.hidden { display: none; }
.h-full { height: 100%; }
.bottom-1 {
    bottom: .25rem;
}
.py-1\.5 {
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.text-p-xs {
    font-size: 11px;
    line-height: 16px;
}

.addToCartBtn { display: block; font-size: 21px; width: 100%; }

.z-10 {
    z-index: 10;
}
.overflow-y-auto {
    overflow-y: auto;
}
.h-40 {
    height: 160px;
}
.bg-bright-yellow:hover {
    background-color: rgba(255,182,0,1);
}

.bg-ice-grey:hover {
    background-color: rgba(244,245,245,1);
}
.font-bold {
    font-weight: 700;
}

.hidemobile { display: none; height: 0; }
.mobilehide { display: none; height: 0; }
.mobileshow { display: inline; height: auto; }
.prodicon { float: none; }
.wid80 { width: 96%; }

@media only screen and (min-device-width: 479px) {
	.hidemobile { display: inline; height: auto; }
	.mobilehide { display: inline; height: auto; }
	.mobileshow { display: none; height: 0px; }
	.prodicon { float: left; padding-right: 10px; }
	.wid80 { width: 88%; }
}
